/*Ejercicio 1*/
.container {
  display: grid;
  grid-template-columns: 5fr 5fr ;
  grid-template-rows: 120px 120px ;
}

.item {
  border: 1px solid black;
  background-color: hotpink;
}

/*Ejercicio 2*/
.ej2container {
  display: grid;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #6ec1e4;
  padding: 20px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f9d56e;
  padding: 10px;
}

.content {
  grid-area: content;
  background-color: #d6f6dd;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: #ffaaa7;
  padding: 20px;
  text-align: center;
}

/*Ejercicio 3*/
.ej3container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  border: black solid;
  gap: 30px;

  justify-items: center;
  align-items: center;

  height: 60vh;
  padding: 30px;
}

.caja {
  background-color: #a1c6ea;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.caja3 {
  justify-self: end;
  align-self: start;
  background-color: #f7c59f;
}

/*Ejercicio 4*/
.ej4container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 15px;
  padding: 20px;
}

.box {
  background-color: #d3e0dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
}

.box2 {
  grid-column: span 2;
  background-color: #a1c6ea;
}

.box4 {
  grid-row: span 2;
  background-color: #f7c59f;
}
